@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,500&display=swap');

.window {
    position: absolute;
    width: 100%;
    height: 100%;
}

.gameWindow {
    width: 100%;
    height: 100%;
}

.gameRadarTitle {
    position: absolute;
    width: 15.156vw;
    height: 9.629vh;
    left: 42.448vw;
    top: 1.018vh;

    font-style: normal;
    font-weight: 500;
    font-size: 4.479vw;
    line-height: 9.629vh;

    color: #60ECFF;

    text-shadow: 0 0 2.656vw #60ECFF, 0 0.208vw 0 #51A4AF;
    margin: 0;
    user-select: none;
}

.radarImage {
    background-image: url("../images/radar.png");
    width: 100.7%;
    height: 100.7%;
    background-repeat: no-repeat;
    position: absolute;
    background-size: contain;
    top: 50%;
    left: 50%;

    margin-top: -37vh;
    margin-left: -37.3vh;
}

.gameRadarW {
    position: absolute;
    background: linear-gradient(180deg, rgba(145, 255, 209, 0.17) 0%, rgba(59, 130, 140, 0.18) 100%);
    border: 0.417vw solid #60ECFF;
    box-shadow: 0 0 4.844vw #91FFD1;
    border-radius: 27.396vw;
    width: 74.074vh;
    height: 74.074vh;

    top: 12.962vh;
    left: 50%;
    margin-left: -38vh;

}

.gameCodeBlock {
    position: absolute;
    background-image: url("../images/rectangleBlue.png");
    background-repeat: no-repeat;
    background-size: contain;

    width: 19.141vw;
    height: 6.666vh;

    left: 7.057vw;
    top: 28.148vh;
}

.gameCodeBlock p {
    position: absolute;
    left: 1.563vw;
    top: 1.574vh;

    font-style: normal;
    font-weight: 400;
    font-size: 1.851vh;
    line-height: 1.574vh;

    color: #FCFF7F;
    margin: 0;
}

.gameCodeBlockLabel {
    position: absolute;

    left: 9.844vw;
    top: 25vh;

    font-style: normal;
    font-weight: 400;
    font-size: 1.042vw;
    line-height: 2.222vh;

    color: #FFFFFF;
    margin: 0;

}

/*Left data block*/

.gameLeftBlock {
    position: absolute;
    background-image: url("../images/leftBlock.png");
    background-repeat: no-repeat;
    background-size: contain;

    width: 46.296vh;
    height: 27.870vh;

    top: 36.203vh;
    left: 5.555vh;
}

.gameLeftBlockTop {
    position: absolute;
    background-image: url("../images/leftBlockTop.png");
    background-repeat: no-repeat;
    background-size: contain;

    width: 19.271vw;
    height: 5.37vh;

    top: 1.851vh;
    left: 2.161vw;
}

.gameLeftBlockTop p {
    position: absolute;
    left: 1.267vw;
    top: 0.648vh;

    font-style: normal;
    font-weight: 400;
    font-size: 3.333vh;
    line-height: 4.074vh;

    color: #FFFFFF;
    margin: 0;
}

.gameLeftBlockMiddle {
    position: absolute;
    background-image: url("../images/leftBlockMiddle.png");
    background-repeat: no-repeat;
    background-size: contain;

    width: 18.620vw;
    height: 5.37vh;

    top: 9.166vh;
    left: 1.718vw;
}

.gameLeftBlockMiddle p {
    position: absolute;
    left: 1.267vw;
    top: 0.648vh;

    font-style: normal;
    font-weight: 400;
    font-size: 3.333vh;
    line-height: 4.074vh;

    color: #FFFFFF;
    margin: 0;
}

.gameLeftBlockButton {
    position: absolute;
    background-image: url("../images/myCodeRectangle.png");
    background-repeat: no-repeat;
    background-size: contain;

    width: 18.1vw;
    height: 9.351vh;

    top: 16.481vh;
    left: 1.849vw;

    cursor: pointer;
}

.gameLeftBlockButton p {
    position: absolute;

    top: 2.685vh;
    left: 4.766vw;

    font-style: normal;
    font-weight: 600;
    font-size: 3.333vh;
    line-height: 4.074vh;

    color: #4C4761;

    margin: 0;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

/*Right data block*/

.gameRightBlock {
    position: absolute;
    background-image: url("../images/rightBlock.png");
    background-repeat: no-repeat;
    background-size: contain;

    width: 46.296vh;
    height: 27.87vh;

    top: 36.203vh;
    /*left: 70.833vw;*/
    right: 5.555vh;
}

.gameRightBlockTop {
    position: absolute;
    background-image: url("../images/rightBlockTop.png");
    background-repeat: no-repeat;
    background-size: contain;

    width: 34.259vh;
    height: 9.351vh;

    top: 2.87vh;
    left: 8.333vh;

    cursor: pointer;

}

.gameRightBlockTop p {
    position: absolute;

    top: 1.510vw;
    left: 2.005vw;

    font-style: normal;
    font-weight: 600;
    font-size: 3.333vh;
    line-height: 4.074vh;

    color: #4C4761;

    margin: 0;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

.gameRightBlockBottom {
    position: absolute;
    background-image: url("../images/rightBlockBottom.png");
    background-repeat: no-repeat;
    background-size: contain;

    width: 33.259vh;
    height: 9.351vh;

    top: 15.462vh;
    left: 8.333vh;

    cursor: pointer;
}

.gameRightBlockBottom p{
    position: absolute;

    top: 2.685vh;
    left: 9.481vh;

    font-style: normal;
    font-weight: 600;
    font-size: 3.333vh;
    line-height: 4.074vh;

    color: #4C4761;

    margin: 0;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

/*Log out button*/

.gameSignOutButtonOnMain {
    box-sizing: border-box;

    position: absolute;
    width: 1.719vw;
    height: 4.444vh;
    left: 92.500vw;
    top: 9.722vh;

    border: 0.277vh solid #60ECFF;
    border-radius: 0.925vh;
}

.gameSignOutButtonOnMainArrow {
    background-image : url("../images/leftArrow.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    width: 0.521vw;
    height: 1.94vh;
    left: 0.573vw;
    top: 1.296vh;
}

.gameSignOutButtonOnMainText {
    position: absolute;
    left: 91.823vw;
    top: 15.462vh;

    font-style: normal;
    font-weight: 600;
    font-size: 0.833vw;
    line-height: 1.759vh;

    color: #FFFFFF;
    margin: 0;
}

/*Stars block*/

.StarsBlock {
    position: absolute;
    width: 4.629vh;
    height: 16.018vh;

    left: 0.365vw;
    top: 42.129vh;
}

.StarNotSelected {
    background-image : url("../images/starNotSelected.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.StarSelected {
    background-image : url("../images/starSelected.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.Star1, .Star2, .Star3{
    position: absolute;
    width: 4.166vh;
    height: 4.166vh;

    left: 0.260vw;
    top: 0;

    cursor: pointer;
}

.Star2 {
    left: 0;
    top: 5.925vh;
}

.Star3 {
    left: 0.260vw;
    top: 11.851vh;
}

/*Admin account*/

.AdminAccountModal {
    position: absolute;
    width: 73.490vw;
    height: 76.296vh;
    left: 12.708vw;
    top: 9.722vh;
    border-radius: 2.083vw;
    background: rgba(255, 255, 255, 0.5);
    border: 0.521vw solid #2B2346;
    box-shadow: 0 0.208vw 0.208vw rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(1.042vw);
    outline:none;
}

.AdminAccountModalTitle {
    position: absolute;
    left: 25.521vw;
    top: 4.074vh;

    font-style: normal;
    font-weight: 500;
    font-size: 3.333vw;
    line-height: 4.010vw;

    color: #2A2345;
    margin: 0;
    user-select: none;
}

.AdminAccountModalClose{
    position: absolute;
    width: 2.141vw;
    height: 3.796vh;
    left: 68.594vw;
    top: 3.796vh;
    background-image: url("../images/cross.png");
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

.AdminAccountModalChangeTextTitle {
    position: absolute;
    left: 5.156vw;
    top: 17.685vh;
    font-style: normal;
    font-weight: 500;
    font-size: 2.083vw;
    line-height: 2.500vw;

    color: #000000;
    margin: 0;
}

.AdminAccountModalSelectStageTitle {
    position: absolute;
    left: 21.875vw;
    top: 17.685vh;

    font-style: normal;
    font-weight: 500;
    font-size: 2.083vw;
    line-height: 2.500vw;

    color: #000000;
    margin: 0;
}

.AdminAccountModalDisableCircleTitle {
    position: absolute;
    left: 38.646vw;
    top: 17.685vh;

    font-style: normal;
    font-weight: 500;
    font-size: 2.083vw;
    line-height: 2.500vw;

    color: #000000;
    margin: 0;
}

.AdminAccountModalEnableCircleTitle {
    position: absolute;
    left: 56.146vw;
    top: 17.685vh;

    font-style: normal;
    font-weight: 500;
    font-size: 2.083vw;
    line-height: 2.500vw;

    color: #000000;
    margin: 0;
}

.AdminAccountModalAlgSpeedTitle {
    position: absolute;
    left: 37.292vw;
    top: 50.83vh;

    font-style: normal;
    font-weight: 500;
    font-size: 2.083vw;
    line-height: 4.44vh;

    color: #000000;
    margin: 0;
}

.AdminAccountModalChangeRequestTitle {
    position: absolute;
    left: 56.250vw;
    top: 47.037vh;
    font-style: normal;
    font-weight: 500;
    font-size: 1.130vw;
    line-height: 1.354vw;

    color: #000000;
    margin: 0;
}

#AlgorithmSpeed button {
    position: absolute;
    width: 10.729vw;
    height: 4.90vh;
    left: 37.292vw;
    top: 63.79vh;

    background: #555671;
    border-radius: 0.313vw;
    border: 0;
    outline: none;

    font-style: normal;
    font-weight: 400;
    font-size: 1.250vw;
    line-height: 1.510vw;

    color: #FFFFFF;
}

#textId {
    position: absolute;

    width: 12.448vw;
    height: 4.907vh;
    left: 5.156vw;
    top: 24.351vh;

    background: #555671;
    border-radius: 0.313vw;
    border: 0;

    font-style: normal;
    font-weight: 400;
    font-size: 1.250vw;
    line-height: 1.510vw;

    color: #FFFFFF;
}

#ReqId {
    position: absolute;

    width: 9.245vw;
    height: 3.611vh;
    left: 56.250vw;
    top: 51.11vh;

    background: #555671;
    border-radius: 0.313vw;
    border: 0;

    font-style: normal;
    font-weight: 400;
    font-size: 0.927vw;
    line-height: 1.146vw;

    color: #FFFFFF;
}

#txtarea {
    box-sizing: border-box;

    position: absolute;
    width: 12.344vw;
    height: 12.314vh;
    left: 5.260vw;
    top: 30.740vh;

    background: rgba(255, 255, 255, 0.15);
    border: 0.260vw solid #555671;
    border-radius: 0.521vw;
    resize: none;
    outline:none;

    font-style: normal;
    font-weight: 400;
    font-size: 0.729vw;
    line-height: 0.885vw;


    color: #4c4c4c;
}

#txtareaRequest {
    box-sizing: border-box;

    position: absolute;
    width: 9.167vw;
    height: 9.166vh;
    left: 56.250vw;
    top: 55.833vh;

    background: rgba(255, 255, 255, 0.15);
    border: 0.260vw solid #555671;
    border-radius: 0.521vw;
    resize: none;
    outline:none;

    font-style: normal;
    font-weight: 400;
    font-size: 0.729vw;
    line-height: 0.885vw;


    color: #4c4c4c;
}

#text-changer button {
    position: absolute;
    width: 12.448vw;
    height: 4.907vh;
    left: 5.156vw;
    top: 45.925vh;

    background: #555671;
    border-radius: 0.313vw;
    border: 0;
    outline:none;

    font-style: normal;
    font-weight: 400;
    font-size: 1.250vw;
    line-height: 1.510vw;

    color: #FFFFFF;
}

#request-changer button {
    position: absolute;
    width: 9.245vw;
    height: 3.611vh;
    left: 56.250vw;
    top: 67.129vh;

    background: #555671;
    border-radius: 0.313vw;
    border: 0;
    outline:none;

    font-style: normal;
    font-weight: 400;
    font-size: 0.927vw;
    line-height: 1.146vw;

    color: #FFFFFF;
}

#stars p {
    position: absolute;
    margin: 0;

    left: 5.156vw;
    top: 55.277vh;

    font-style: normal;
    font-weight: 500;
    font-size: 2.083vw;
    line-height: 2.500vw;

    color: #000000;
}

#requestAddRemove p {
    position: absolute;
    margin: 0;
    left: 19.740vw;
    top: 42.037vh;


    font-style: normal;
    font-weight: 500;
    font-size: 1.438vw;
    line-height: 1.719vw;


    color: #000000;
}

#addStar {
    position: absolute;
    width: 12.448vw;
    height: 4.907vh;
    left: 5.156vw;
    top: 63.148vh;

    background: #555671;
    border-radius: 0.313vw;

    border: 0;
    outline:none;

    font-style: normal;
    font-weight: 400;
    font-size: 1.250vw;
    line-height: 1.510vw;

    color: #FFFFFF;
}

#addReq {
    position: absolute;
    width: 8.594vw;
    height: 3.425vh;
    left: 19.740vw;
    top: 47.5vh;

    background: #555671;
    border-radius: 0.313vw;

    border: 0;
    outline:none;

    font-style: normal;
    font-weight: 400;
    font-size: 0.865vw;
    line-height: 1.042vw;

    color: #FFFFFF;
}

#removeStar {
    position: absolute;
    width: 12.448vw;
    height: 4.907vh;
    left: 18.385vw;
    top: 63.148vh;


    background: #555671;
    border-radius: 0.313vw;

    border: 0;
    outline:none;

    font-style: normal;
    font-weight: 400;
    font-size: 1.250vw;
    line-height: 1.510vw;

    color: #FFFFFF;
}

#removeReq {
    position: absolute;
    width: 8.594vw;
    height: 3.425vh;
    left: 28.906vw;
    top: 47.5vh;

    background: #555671;
    border-radius: 0.313vw;

    border: 0;
    outline:none;

    font-style: normal;
    font-weight: 400;
    font-size: 0.865vw;
    line-height: 1.042vw;

    color: #FFFFFF;
}

#position-id {
    position: absolute;
    width: 10.729vw;
    height: 4.907vh;
    left: 21.875vw;
    top: 24.351vh;

    background: #555671;
    border-radius: 0.313vw;
    border: 0;
    outline: none;

    font-style: normal;
    font-weight: 400;
    font-size: 1.250vw;
    line-height: 1.510vw;

    color: #FFFFFF;
}

#circle-id {
    position: absolute;
    width: 10.729vw;
    height: 4.907vh;
    left: 21.875vw;
    top: 29.814vh;

    background: #555671;
    border-radius: 0.313vw;
    border: 0;
    outline: none;

    font-style: normal;
    font-weight: 400;
    font-size: 1.250vw;
    line-height: 1.510vw;

    color: #FFFFFF;
}

#setPosition button{
    position: absolute;
    width: 9.323vw;
    height: 4.907vh;
    left: 21.875vw;
    top: 36.388vh;

    background: #555671;
    border-radius: 0.313vw;
    border: 0;
    outline: none;

    font-style: normal;
    font-weight: 400;
    font-size: 1.250vw;
    line-height: 1.510vw;

    color: #FFFFFF;
}

#position-idD {
    position: absolute;
    width: 10.729vw;
    height: 4.907vh;
    left: 38.646vw;
    top: 24.351vh;

    background: #555671;
    border-radius: 0.313vw;
    border: 0;
    outline: none;

    font-style: normal;
    font-weight: 400;
    font-size: 1.250vw;
    line-height: 1.510vw;

    color: #FFFFFF;
}

#circle-idD {
    position: absolute;
    width: 10.729vw;
    height: 4.907vh;
    left: 38.646vw;
    top: 29.814vh;

    background: #555671;
    border-radius: 0.313vw;
    border: 0;
    outline: none;

    font-style: normal;
    font-weight: 400;
    font-size: 1.250vw;
    line-height: 1.510vw;

    color: #FFFFFF;
}

#disableCircle button {
    position: absolute;
    width: 9.323vw;
    height: 4.907vh;
    left: 38.646vw;
    top: 36.388vh;

    background: #555671;
    border-radius: 0.313vw;
    border: 0;
    outline: none;

    font-style: normal;
    font-weight: 400;
    font-size: 1.250vw;
    line-height: 1.510vw;

    color: #FFFFFF;
}

#alg-speed {
    position: absolute;
    width: 10.729vw;
    height: 4.90vh;
    left: 37.292vw;
    top: 57.22vh;

    background: #555671;
    border-radius: 0.313vw;
    border: 0;
    outline: none;

    font-style: normal;
    font-weight: 400;
    font-size: 1.250vw;
    line-height: 1.510vw;

    color: #FFFFFF;
}

#position-idE {
    position: absolute;
    width: 10.729vw;
    height: 4.907vh;
    left: 56.146vw;
    top: 24.351vh;

    background: #555671;
    border-radius: 0.313vw;
    border: 0;
    outline: none;

    font-style: normal;
    font-weight: 400;
    font-size: 1.250vw;
    line-height: 1.510vw;

    color: #FFFFFF;
}

#circle-idE {
    position: absolute;
    width: 10.729vw;
    height: 4.907vh;
    left: 56.146vw;
    top: 29.814vh;

    background: #555671;
    border-radius: 0.313vw;
    border: 0;
    outline: none;

    font-style: normal;
    font-weight: 400;
    font-size: 1.250vw;
    line-height: 1.510vw;

    color: #FFFFFF;
}

#enableCircle button{
    position: absolute;
    width: 9.323vw;
    height: 4.907vh;
    left: 56.146vw;
    top: 36.388vh;

    background: #555671;
    border-radius: 0.313vw;
    border: 0;
    outline: none;

    font-style: normal;
    font-weight: 400;
    font-size: 1.250vw;
    line-height: 1.510vw;

    color: #FFFFFF;
}

.AdminBtn {
    cursor: pointer;
    -webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    display: block;
    text-decoration: none;
    color: rgba(30, 22, 54, 0.6);
    box-shadow: rgba(30, 22, 54, 0.4) 0 0px 0px 2px inset;
}

.AdminBtn:hover {
    color: rgba(255, 255, 255, 0.85);
    box-shadow: rgba(30, 22, 54, 0.7) 0 0px 0px 40px inset;
}

/*Game circles*/

.stagefour#first{
    position: absolute;

    top: 3.611vh;
    left: 20.925vh;

}

.stagefour#second{
    position: absolute;

    top: 3.611vh;
    left: 45.555vh;

}

.stagefour#third{
    position: absolute;

    top: 21.018vh;
    left: 62.777vh;

}

.stagefour#fourth{
    position: absolute;

    top: 21.018vh;
    left: 3.796vh;

}

.stagefour#fifth{
    position: absolute;

    top: 45.37vh;
    left: 3.796vh;

}

.stagefour#sixth{
    position: absolute;

    top: 62.777vh;
    left: 21.111vh;
}

.stagefour#seventh{
    position: absolute;

    top: 62.777vh;
    left: 45.74vh;
}

.stagefour#eight{
    position: absolute;
    top: 45.37vh;
    left: 62.87vh;
}

.stagethree#first{
    position: absolute;
    top: 17.962vh;
    left: 50.555vh;
}

.stagethree#second{
    position: absolute;
    top: 17.962vh;
    left: 18.055vh;
}

.stagethree#third{
    position: absolute;
    top: 50.462vh;
    left: 18.055vh;
}

.stagethree#fourth{
    position: absolute;
    top: 50.462vh;
    left: 50.555vh;
}

.stagetwo#first{
    position: absolute;

    top: 34.166vh;
    left: 20.925vh;
}

.stagetwo#second{
    position: absolute;
    top: 34.166vh;
    left: 47.87vh;
}

.stageone#first{
    position: absolute;
    left: 32.5vh;
    top: 32.5vh;
}

/*Game circle color*/

.stagefourSelected {
    width: 7.407vh;
    height: 7.407vh;
    background: url("../images/circles/stg4sel.png") no-repeat;
    background-size: contain;
}

.stagefourNotSelected {
    width: 7.407vh;
    height: 7.407vh;
    background: url("../images/circles/stg4.png") no-repeat;
    background-size: contain;
}

.stagethreeSelected {
    width: 5.555vh;
    height: 5.555vh;
    background: url("../images/circles/stg3sel.png") no-repeat;
    background-size: contain;
}

.stagethreeNotSelected {
    width: 5.555vh;
    height: 5.555vh;
    background: url("../images/circles/stg3.png") no-repeat;
    background-size: contain;
}

.stagetwoSelected {
    width: 5.555vh;
    height: 5.555vh;
    background: url("../images/circles/stg2sel.png") no-repeat;
    background-size: contain;
}

.stagetwoNotSelected {
    width: 5.555vh;
    height: 5.555vh;
    background: url("../images/circles/stg2.png") no-repeat;
    background-size: contain;
}

.stageoneSelected {
    width: 9.259vh;
    height: 9.259vh;
    background: url("../images/circles/stg1sel.png") no-repeat;
    background-size: contain;
}

.stageoneNotSelected {
    width: 9.259vh;
    height: 9.259vh;
    background: url("../images/circles/stg1.png") no-repeat;
    background-size: contain;
}

/*Start circle*/

.gameStartCircle {
    position: absolute;
    width: 46.296vh;
    height: 46.296vh;

    left: 50%;
    margin-left: -23.148vh;
    top: 26.851vh;

    background: #B491FF;
    box-shadow: 0 0.677vw 0.521vw rgba(0, 0, 0, 0.2);
    border-radius: 26.042vw;
    cursor: pointer;
}

.gameStartCircle p {
    position: absolute;
    width: 28.981vh;
    height: 10.74vh;
    left: 8.611vh;
    top: 17.777vh;

    font-style: normal;
    font-weight: 600;
    font-size: 8.888vh;
    line-height: 10.74vh;

    color: #312244;
    margin: 0;
    text-align: center;
}

.gameBlur {
    filter: blur(8px);
    -webkit-filter: blur(0.417vw);

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.gamePersonalCode {
    position: absolute;
    width: 23.796vh;
    height: 7.037vh;
    left: 11.203vh;
    top: 31.574vh;

    background: radial-gradient(231.58% 231.58% at 50% 50%, #BB91FF 0%, #9670BB 100%);
    border-radius: 0.990vw;
    border: 0;

    text-align: center;

    font-style: normal;
    font-weight: 600;
    font-size: 1.851vh;
    line-height: 2.222vh;

    color: #8267A5;
}

.gamePersonalCode:focus {
    outline: none;
}

/*Ref block*/

.refBlock {
    box-sizing: border-box;

    position: absolute;
    width: 26.563vw;
    height: 9.907vh;

    left: 36.823vw;
    top: 45vh;

    background: rgba(34, 47, 49, 0.85);
    border: 0.277vh solid #FCFF7F;
    backdrop-filter: blur(1.302vw);
    border-radius: 1.111vh;
}

.refBlockLink {
    position: absolute;
    left: 0.938vw;
    top: 4.259vh;

    font-style: normal;
    font-weight: 500;
    font-size: 1.111vh;
    line-height: 1.388vh;
    text-align: center;

    color: #FFFFFF;
    margin: 0;
}

.refBlockCrossButton {
    background-image : url("../images/crossRules.png");
    background-size: contain;
    background-repeat: no-repeat;

    position: absolute;
    width: 0.949vw;
    height: 1.666vh;
    left: 24.792vw;
    top: 1.296vh;

    background-color: transparent;
    outline: none;
    border: 0;
    cursor: pointer;
}

.refBlockCopyLink {
    box-sizing: border-box;

    position: absolute;
    width: 4.792vw;
    height: 2.407vh;
    left: 20.781vw;
    top: 4.259vh;

    background: transparent;
    border: 0.185vh solid #FFFFFF;
    border-radius: 0.555vh;

    font-style: normal;
    font-weight: 500;
    font-size: 1.111vh;
    line-height: 1.388vh;

    color: #FFFFFF;
}

/*Game Finish Modal*/

.GameFinishModal {
    box-sizing: border-box;

    position: absolute;
    width: 26.563vw;
    height: 14.259vh;

    left: 36.823vw;
    top: 42.87vh;

    background: rgba(34, 47, 49, 0.85);
    border: 0.277vh solid #FCFF7F;
    backdrop-filter: blur(1.302vw);
    border-radius: 1.111vh;
    outline:none;
}

.TitleGameFinish {
    position: absolute;
    left: 10.417vw;
    top: 0.462vh;

    font-style: normal;
    font-weight: 500;
    font-size: 1.944vh;
    line-height: 2.407vh;
    text-align: center;

    color: #FFFFFF;
    margin: 0;
}

.GameFinishCloseButton {
    box-sizing: border-box;

    position: absolute;
    width: 8.518vh;
    height: 2.407vh;
    left: 10.938vw;
    top: 10.74vh;

    background: transparent;
    border: 0.185vh solid #FFFFFF;
    border-radius: 0.555vh;

    font-style: normal;
    font-weight: 500;
    font-size: 1.111vh;
    line-height: 1.388vh;

    color: #FFFFFF;
}

.TextGameFinish {
    position: absolute;
    left: 10.938vw;
    top: 6.296vh;

    font-style: normal;
    font-weight: 500;
    font-size: 1.296vh;
    line-height: 1.574vh;

    text-align: center;

    color: #FFFFFF;
    margin: 0;
}

/* Requests */

.requestText {
    position: absolute;
    background-image : url("../images/RequestsBlock.png");
    background-size: contain;
    background-repeat: no-repeat;

    width: 35vh;
    height: 9.351vh;

    left: 8.240vh;
    top: 2.87vh;

    cursor: pointer;

}

.requestText p {
    position: absolute;

    left: 10vh;
    top: 2.685vh;

    margin: 0;

    font-family: 'Roboto Flex', sans-serif;
    font-style: italic;
    font-weight: 900;
    font-size: 3.33vh;
    line-height: 3.88vh;

    color: #2A2345;
    user-select: none;
}

.requestsBlock {
    position: absolute;

    width: 31.481vh;

    background: #60ECFF;
    border: 0.4629vh solid #FFF960;
    box-shadow: 4px 10px 8px rgba(0, 0, 0, 0.25);

    top: 13.055vh;
    left: 9.814vh;

}

.buttonRequest{
    position: relative;
    left: 16.61vh;
    right: 2.037vh;

    margin: 0;
    width: 14.537vh;
    font-family: 'Roboto Flex', sans-serif;
    font-style: italic;
    font-weight: 900;
    font-size: 3.33vh;
    line-height: 3.88vh;


    background: linear-gradient(52.67deg, #313C5C 8.39%, #60ECFF 132.59%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    user-select: none;
    cursor: pointer;
}

.textRequest{
    position: absolute;
    margin: 0;
    left: 3.518vh;
    width: 14.537vh;
    font-family: 'Roboto Flex', sans-serif;
    font-style: italic;
    font-weight: 900;
    font-size: 3.33vh;
    line-height: 3.88vh;

    color: #2A2345;
}

.request {
    width: 31.481vh;
    height: 5.092vh;
}
