.gameWindow {
    width: 100%;
    height: 100%;
}

.gameRadarTitle {
    position: absolute;

    width: 15.156vw;
    height: 5.417vw;
    left: 42.448vw;
    top: 0.573vw;

    font-size: 4.479vw;
    white-space: nowrap;

    text-align: center;
    line-height: 5.417vw;

    margin: 0;
    color: #60ECFF;

    text-shadow: 0 0 2.656vw #60ECFF, 0 0.208vw 0 #51A4AF;
    user-select: none;
}

.gameCodeBlock p {
    position: absolute;
    width: 19.271vw;
    height: 1.250vw;
    left: 1.563vw;
    top: 1.198vw;

    font-style: normal;
    font-weight: 400;
    font-size: 1.042vw;
    line-height: 1.250vw;

    color: #FCFF7F;
    margin: 0;
}

.gameLeftBlockTop {
    position: absolute;
    background-image: url("../images/leftBlockTop.png");
    background-repeat: no-repeat;
    background-size: contain;

    width: 19.271vw;
    height: 3.021vw;

    top: 1.042vw;
    left: 2.161vw;
}

.gameLeftBlockTop p {
    position: absolute;
    width: 7.396vw;
    height: 2.292vw;
    left: 1.267vw;
    top: 0.365vw;

    font-style: normal;
    font-weight: 400;
    font-size: 1.875vw;
    line-height: 2.292vw;

    color: #FFFFFF;
    margin: 0;
}

.gameLeftBlockMiddle {
    position: absolute;
    background-image: url("../images/leftBlockMiddle.png");
    background-repeat: no-repeat;
    background-size: contain;

    width: 18.620vw;
    height: 3.021vw;

    top: 5.156vw;
    left: 1.718vw;
}

.gameLeftBlockMiddle p {
    position: absolute;
    width: 10.625vw;
    height: 2.292vw;
    left: 1.267vw;
    top: 0.365vw;

    font-style: normal;
    font-weight: 400;
    font-size: 1.875vw;
    line-height: 2.292vw;

    color: #FFFFFF;
    margin: 0;
}

.gameLeftBlockButton {
    position: absolute;
    background-image: url("../images/myCodeRectangle.png");
    background-repeat: no-repeat;
    background-size: contain;

    width: 19.505vw;
    height: 5.260vw;

    top: 9.271vw;
    left: 1.849vw;

    cursor: pointer;
}

.gameLeftBlockButton p {
    position: absolute;

    top: 1.510vw;
    left: 4.766vw;

    font-style: normal;
    font-weight: 600;
    font-size: 1.875vw;
    line-height: 2.292vw;

    color: #4C4761;

    margin: 0;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

.gameRightBlockTop {
    position: absolute;
    background-image: url("../images/rightBlockTop.png");
    background-repeat: no-repeat;
    background-size: contain;

    width: 19.688vw;
    height: 5.260vw;

    top: 1.615vw;
    left: 4.688vw;
    right: 1.667vw;

    cursor: pointer;

}

.gameRightBlockTop p {
    position: absolute;

    top: 1.510vw;
    left: 2.005vw;

    font-style: normal;
    font-weight: 600;
    font-size: 1.875vw;
    line-height: 2.292vw;

    color: #4C4761;

    margin: 0;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

.gameRightBlockBottom {
    position: absolute;
    background-image: url("../images/rightBlockBottom.png");
    background-repeat: no-repeat;
    background-size: contain;

    width: 19.583vw;
    height: 5.260vw;

    top: 8.698vw;
    left: 4.688vw;
    right: 1.771vw;

    cursor: pointer;
}

.gameRightBlockBottom p{
    position: absolute;

    top: 1.510vw;
    left: 6.458vw;

    font-style: normal;
    font-weight: 600;
    font-size: 1.875vw;
    line-height: 2.292vw;

    color: #4C4761;

    margin: 0;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

.stagefourColor {
    background: #FFEC45;
}

.stagefourRadius {
    border: 0.260vw solid #FF5555;
    filter: drop-shadow(0px 0.208vw 0.208vw rgba(0, 0, 0, 0.5));
}

.stagefourSelectedRadius {
    border: 0.260vw solid #FF5555;
    filter: drop-shadow(0px 0px 0.885vw #FF5555) drop-shadow(0px 0.208vw 0.208vw rgba(0, 0, 0, 0.5));
    border-radius: 100%;
}

.stagefourSelectedCircle {
    border: 0.260vw dashed #E7E859;
    filter: drop-shadow(0px 0px 0.885vw #FF5555) drop-shadow(0px 0.208vw 0.208vw rgba(0, 0, 0, 0.5));
    border-radius: 100%;
}


.stagethreeColor{
    background: #A43276;
}

.stagethreeRadius {
    border: 0.260vw solid #3166A7;
    filter: drop-shadow(0px 0.208vw 0.208vw rgba(0, 0, 0, 0.5));
}

.stagethreeSelectedCircle {
    border: 0.260vw dashed #FF21A6;
    filter: drop-shadow(0 0.208vw 0.208vw rgba(0, 0, 0, 0.5)) drop-shadow(0px 0px 0.885vw #55A3FF);
    border-radius: 100%;
}

.stagethreeSelectedRadius {
    border: 0.260vw solid #55A3FF;
    filter: drop-shadow(0px 0px 0.885vw #55A3FF);
    border-radius: 100%;
}


.stagetwoColor{
    background: #42AA3B;
}

.stagetwoRadius {
    border: 0.260vw solid #A98833;
    filter: drop-shadow(0px 0.208vw 0.208vw rgba(0, 0, 0, 0.5));
}

.stagetwoSelectedCircle {
    border: 0.260vw dashed #7BAF78;
    filter: drop-shadow(0px 0px 0.885vw #8AFF80);
    border-radius: 100%;
}

.stagetwoSelectedRadius {
    border: 0.260vw solid #A98833;
    filter: drop-shadow(0px 0.208vw 0.208vw rgba(0, 0, 0, 0.5));
}


.stageoneColor{
    background: #FF1010;
    border-radius: 100%;
}

.stageoneRadius {
    border: 0.365vw dashed #60ECFF;
    filter: drop-shadow(0px 0px 0.885vw #E42F2C) drop-shadow(0px 0.208vw 0.208vw rgba(0, 0, 0, 0.5));
}


.stageoneSelected {
    background: #FF1010;
    box-shadow: 0 0 0.885vw #E42F2C, 0 0.208vw 0.208vw rgba(0, 0, 0, 0.5);
    border-radius: 100%;
}

.loginBackground {
    position: absolute;
    background-image : url("../images/loginBackground.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    height: 100%;
    width: 100%;
}

@media (max-height: 6400px) and (min-height: 1100px) {
    .radarImage {
        background-image: url("../images/radar.png");
        width: 41.667vw;
        height: 41.667vw;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .authBlockMain {
        position: absolute;

        width: 37.623vw;
        height: 38.750vw;

        left: 29.844vw;
        top: 8.750vw;
    }

    .authBlock {
        position: absolute;
        background-image: url("../images/authBlock.png");
        background-repeat: no-repeat;
        background-size: contain;

        width: 35.800vw;
        height: 33.281vw;

        left: 1.823vw;
        top: 5.469vw;
        transition: .55s opacity, .55s visibility;
    }

    .registerBlock {
        position: absolute;
        background-image: url("../images/registerBlock.png");
        background-repeat: no-repeat;
        background-size: contain;

        width: 35.781vw;
        height: 43.646vw;

        left: 1.823vw;
        top: 1.042vw;
        transition: .3s opacity, .3s visibility;
    }

    .loginLabelRegister {
        position: absolute;
        top: 1.094vw;
        left: 6.875vw;
        margin: 0;

        font-style: normal;
        font-weight: 400;
        font-size: 1.667vw;
        line-height: 2.031vw;

        color: #FFFFFF;
    }

    .loginInputRegister {
        position: absolute;
        background-image: url("../images/authLoginTopInput.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-color: transparent;
        border: 0;

        width: 27.552vw;
        height: 7.135vw;

        top: 3.802vw;
        left: 4.219vw;

        text-align: center;

        font-style: normal;
        font-weight: 400;
        font-size: 3.333vw;
        line-height: 4.010vw;

        color: #FFFFFF;
    }

    .passwordLabelRegister {
        position: absolute;
        top: 11.615vw;
        left: 5.573vw;
        margin: 0;

        font-style: normal;
        font-weight: 400;
        font-size: 1.667vw;
        line-height: 2.031vw;

        color: #FFFFFF;
    }

    .passwordInputRegister {
        position: absolute;
        background-image: url("../images/authPasswordBottomInput.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-color: transparent;
        border: 0;

        width: 28.464vw;
        height: 7.135vw;

        top: 14.583vw;
        left: 3.776vw;

        text-align: center;

        font-style: normal;
        font-weight: 400;
        font-size: 3.333vw;
        line-height: 4.010vw;

        color: #FFFFFF;
        -webkit-text-security: square;
    }

    .passwordConfirmLabelRegister {
        position: absolute;
        top: 22.396vw;
        left: 5.573vw;
        margin: 0;

        font-style: normal;
        font-weight: 400;
        font-size: 1.667vw;
        line-height: 2.031vw;

        color: #FFFFFF;
    }

    .passwordConfirmInputRegister {
        position: absolute;
        background-image: url("../images/authPasswordBottomInput.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-color: transparent;
        border: 0;

        width: 28.464vw;
        height: 7.135vw;

        top: 25.365vw;
        left: 3.776vw;

        text-align: center;

        font-style: normal;
        font-weight: 400;
        font-size: 3.333vw;
        line-height: 4.010vw;

        color: #FFFFFF;
        -webkit-text-security: square;
    }

    .buttonRegister {
        position: absolute;
        background-image: url("../images/authButton.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-color: transparent;

        width: 27.734vw;
        height: 6.875vw;

        left: 4.063vw;
        top: 34.531vw;

        cursor: pointer;
    }

    .buttonRegister p {
        position: absolute;
        left: 10.573vw;
        top: 1.875vw;

        font-style: normal;
        font-weight: 600;
        font-size: 3.333vw;
        line-height: 4.010vw;

        color: #224442;

        margin: 0;

        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none;
    }

    .buttonToLoginSelected {
        background-image: url("../images/authSelectedLoginButton.png");
        transform: translateY(0.208vw);
    }

    .buttonToLoginNotSelected {
        background-image: url("../images/authLoginButton.png");
        transform: translateY(-4.427vw);
    }

    .buttonToLogin {
        position: absolute;
        background-repeat: no-repeat;
        background-size: contain;
        background-color: transparent;
        border: 0;
        cursor: pointer;

        width: 15.313vw;
        height: 4.688vw;

        left: 20.130vw;
        top: 0.026vw;

        text-align: center;

        font-style: normal;
        font-weight: 400;
        font-size: 1.667vw;
        line-height: 2.031vw;

        color: #FFFFFF;
        padding: 0;
        transition: transform 500ms ease;
    }

    .buttonToRegisterSelected {
        background-image: url("../images/authSelectedRegisterButton.png");
        transform: translateY(-4.297vw);
    }

    .buttonToRegisterNotSelected {
        background-image: url("../images/authRegisterButton.png");
    }

    .buttonToRegister {
        position: absolute;
        background-repeat: no-repeat;
        background-size: contain;
        background-color: transparent;
        border: 0;
        cursor: pointer;

        width: 15.313vw;
        height: 4.688vw;

        left: 4.167vw;
        top: 0.026vw;

        text-align: center;

        font-style: normal;
        font-weight: 400;
        font-size: 1.667vw;
        line-height: 2.031vw;

        color: #FFFFFF;
        padding: 0;

        transition: transform 500ms ease;
    }

    .gameRadarW {
        position: absolute;
        background: linear-gradient(180deg, rgba(145, 255, 209, 0.17) 0%, rgba(59, 130, 140, 0.18) 100%);
        border: 0.417vw solid #60ECFF;
        box-shadow: 0px 0px 4.844vw #91FFD1;
        border-radius: 27.396vw;
        width: 41.667vw;
        height: 41.667vw;

        top: 7.292vw;
        left: 29.167vw;

    }

    .AdminAccountModal {
        position: absolute;
        width: 73.490vw;
        height: 42.917vw;
        left: 12.708vw;
        top: 5.469vw;
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 2.083vw;
        border: 0.521vw solid #2B2346;
        box-shadow: 0 0.208vw 0.208vw rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(1.042vw);
        outline:none;
    }

    .AdminAccountModalTitle {
        position: absolute;
        left: 25.521vw;
        top: 2.292vw;

        font-style: normal;
        font-weight: 500;
        font-size: 3.333vw;
        line-height: 4.010vw;

        color: #2A2345;
        margin: 0;
        user-select: none;
    }

    .AdminAccountModalClose{
        position: absolute;
        width: 2.135vw;
        height: 2.135vw;
        left: 68.594vw;
        top: 2.135vw;
        background-image: url("../images/cross.png");
        background-repeat: no-repeat;
        background-size: contain;
        cursor: pointer;
    }

    .AdminAccountModalChangeTextTitle {
        position: absolute;
        left: 5.156vw;
        top: 9.948vw;
        font-style: normal;
        font-weight: 500;
        font-size: 2.083vw;
        line-height: 2.500vw;

        color: #000000;
        margin: 0;
    }

    #textId {
        position: absolute;

        width: 12.448vw;
        height: 2.760vw;
        left: 5.156vw;
        top: 13.698vw;

        background: #555671;
        border-radius: 0.313vw;
        border: 0;

        font-style: normal;
        font-weight: 400;
        font-size: 1.250vw;
        line-height: 1.510vw;

        color: #FFFFFF;
    }

    #txtarea {
        box-sizing: border-box;

        position: absolute;
        width: 12.344vw;
        height: 6.927vw;
        left: 5.260vw;
        top: 17.292vw;

        background: rgba(255, 255, 255, 0.15);
        border: 0.260vw solid #555671;
        border-radius: 0.521vw;
        resize: none;
        outline:none;

        font-style: normal;
        font-weight: 400;
        font-size: 0.729vw;
        line-height: 0.885vw;


        color: #4c4c4c;
    }

    #text-changer button {
        position: absolute;
        width: 12.448vw;
        height: 2.760vw;
        left: 5.156vw;
        top: 25.833vw;

        background: #555671;
        border-radius: 0.313vw;
        border: 0;
        outline:none;

        font-style: normal;
        font-weight: 400;
        font-size: 1.250vw;
        line-height: 1.510vw;

        color: #FFFFFF;
    }

    #stars p {
        position: absolute;
        margin: 0;

        left: 5.156vw;
        top: 31.094vw;

        font-style: normal;
        font-weight: 500;
        font-size: 2.083vw;
        line-height: 2.500vw;

        color: #000000;
    }

    #addStar {
        position: absolute;
        width: 12.448vw;
        height: 2.760vw;
        left: 5.156vw;
        top: 35.521vw;

        background: #555671;
        border-radius: 0.313vw;

        border: 0;
        outline:none;

        font-style: normal;
        font-weight: 400;
        font-size: 1.250vw;
        line-height: 1.510vw;

        color: #FFFFFF;
    }

    #removeStar {
        position: absolute;
        width: 12.448vw;
        height: 2.760vw;
        left: 18.385vw;
        top: 35.521vw;

        background: #555671;
        border-radius: 0.313vw;

        border: 0;
        outline:none;

        font-style: normal;
        font-weight: 400;
        font-size: 1.250vw;
        line-height: 1.510vw;

        color: #FFFFFF;
    }

    .AdminAccountModalSelectStageTitle {
        position: absolute;
        left: 21.875vw;
        top: 9.948vw;

        font-style: normal;
        font-weight: 500;
        font-size: 2.083vw;
        line-height: 2.500vw;

        color: #000000;
        margin: 0;
    }

    #position-id {
        position: absolute;
        width: 10.729vw;
        height: 2.760vw;
        left: 21.875vw;
        top: 13.698vw;

        background: #555671;
        border-radius: 0.313vw;
        border: 0;
        outline: none;

        font-style: normal;
        font-weight: 400;
        font-size: 1.250vw;
        line-height: 1.510vw;

        color: #FFFFFF;
    }

    #circle-id {
        position: absolute;
        width: 10.729vw;
        height: 2.760vw;
        left: 21.875vw;
        top: 16.771vw;

        background: #555671;
        border-radius: 0.313vw;
        border: 0;
        outline: none;

        font-style: normal;
        font-weight: 400;
        font-size: 1.250vw;
        line-height: 1.510vw;

        color: #FFFFFF;
    }

    #setPosition button{
        position: absolute;
        width: 9.323vw;
        height: 2.760vw;
        left: 21.875vw;
        top: 20.469vw;

        background: #555671;
        border-radius: 0.313vw;
        border: 0;
        outline: none;

        font-style: normal;
        font-weight: 400;
        font-size: 1.250vw;
        line-height: 1.510vw;

        color: #FFFFFF;
    }

    .AdminAccountModalDisableCircleTitle {
        position: absolute;
        left: 38.646vw;
        top: 9.948vw;

        font-style: normal;
        font-weight: 500;
        font-size: 2.083vw;
        line-height: 2.500vw;

        color: #000000;
        margin: 0;
    }

    #position-idD {
        position: absolute;
        width: 10.729vw;
        height: 2.760vw;
        left: 38.646vw;
        top: 13.698vw;

        background: #555671;
        border-radius: 0.313vw;
        border: 0;
        outline: none;

        font-style: normal;
        font-weight: 400;
        font-size: 1.250vw;
        line-height: 1.510vw;

        color: #FFFFFF;
    }

    #circle-idD {
        position: absolute;
        width: 10.729vw;
        height: 2.760vw;
        left: 38.646vw;
        top: 16.771vw;

        background: #555671;
        border-radius: 0.313vw;
        border: 0;
        outline: none;

        font-style: normal;
        font-weight: 400;
        font-size: 1.250vw;
        line-height: 1.510vw;

        color: #FFFFFF;
    }

    #disableCircle button {
        position: absolute;
        width: 9.323vw;
        height: 2.760vw;
        left: 38.646vw;
        top: 20.469vw;

        background: #555671;
        border-radius: 0.313vw;
        border: 0;
        outline: none;

        font-style: normal;
        font-weight: 400;
        font-size: 1.250vw;
        line-height: 1.510vw;

        color: #FFFFFF;
    }

    .AdminAccountModalEnableCircleTitle {
        position: absolute;
        left: 56.146vw;
        top: 9.948vw;

        font-style: normal;
        font-weight: 500;
        font-size: 2.083vw;
        line-height: 2.500vw;

        color: #000000;
        margin: 0;
    }

    .AdminAccountModalAlgSpeedTitle {
        position: absolute;
        left: 37.292vw;
        top: 50.83vh;

        font-style: normal;
        font-weight: 500;
        font-size: 2.083vw;
        line-height: 4.44vh;

        color: #000000;
        margin: 0;
    }

    #alg-speed {
        position: absolute;
        width: 10.729vw;
        height: 4.90vh;
        left: 37.292vw;
        top: 57.22vh;

        background: #555671;
        border-radius: 0.313vw;
        border: 0;
        outline: none;

        font-style: normal;
        font-weight: 400;
        font-size: 1.250vw;
        line-height: 1.510vw;

        color: #FFFFFF;
    }

    .AdminAccountModalStartAlgorithm {
        position: absolute;
        width: 10.729vw;
        height: 4.90vh;
        left: 37.292vw;
        top: 63.79vh;

        background: #555671;
        border-radius: 0.313vw;
        border: 0;
        outline: none;

        font-style: normal;
        font-weight: 400;
        font-size: 1.250vw;
        line-height: 1.510vw;

        color: #FFFFFF;
    }

    #position-idE {
        position: absolute;
        width: 10.729vw;
        height: 2.760vw;
        left: 56.146vw;
        top: 13.698vw;

        background: #555671;
        border-radius: 0.313vw;
        border: 0;
        outline: none;

        font-style: normal;
        font-weight: 400;
        font-size: 1.250vw;
        line-height: 1.510vw;

        color: #FFFFFF;
    }

    #circle-idE {
        position: absolute;
        width: 10.729vw;
        height: 2.760vw;
        left: 56.146vw;
        top: 16.771vw;

        background: #555671;
        border-radius: 0.313vw;
        border: 0;
        outline: none;

        font-style: normal;
        font-weight: 400;
        font-size: 1.250vw;
        line-height: 1.510vw;

        color: #FFFFFF;
    }

    #enableCircle button{
        position: absolute;
        width: 9.323vw;
        height: 2.760vw;
        left: 56.146vw;
        top: 20.469vw;

        background: #555671;
        border-radius: 0.313vw;
        border: 0;
        outline: none;

        font-style: normal;
        font-weight: 400;
        font-size: 1.250vw;
        line-height: 1.510vw;

        color: #FFFFFF;
    }

    .stagefour#first{
        position: absolute;

        top: 2.031vw;
        left: 11.771vw;

    }

    .stagefour#second{
        position: absolute;

        top: 2.031vw;
        left: 25.625vw;

    }

    .stagefour#third{
        position: absolute;

        top: 11.719vw;
        left: 35.313vw;

    }

    .stagefour#fourth{
        position: absolute;

        top: 11.719vw;
        left: 2.135vw;

    }

    .stagefour#fifth{
        position: absolute;

        top: 25.521vw;
        left: 2.135vw;

    }

    .stagefour#sixth{
        position: absolute;

        top: 35.313vw;
        left: 11.875vw;
    }

    .stagefour#seventh{
        position: absolute;

        top: 35.313vw;
        left: 25.729vw;
    }

    .stagefour#eight{
        position: absolute;
        top: 25.521vw;
        left: 35.313vw;
    }

    .stagethree#first{
        position: absolute;
        top: 9.583vw;
        left: 27.917vw;
    }

    .stagethree#second{
        position: absolute;
        top: 9.583vw;
        left: 9.688vw;
    }

    .stagethree#third{
        position: absolute;
        top: 27.865vw;
        left: 9.688vw;
    }

    .stagethree#fourth{
        position: absolute;
        top: 27.865vw;
        left: 27.917vw;
    }

    .stagetwo#first{
        position: absolute;

        top: 18.646vw;
        left: 11.198vw;
    }

    .stagetwo#second{
        position: absolute;
        top: 18.646vw;
        left: 26.354vw;
    }

    .stageone#first{
        position: absolute;
        left: 18.281vw;
        top: 18.281vw;
    }

    .gameEllipse{
        position: absolute;
        width: 4.167vw;
        height: 4.167vw;
    }

    .gameEllipseCenter {
        position: absolute;
        width: 5.208vw;
        height: 5.208vw;
    }

    .GameEllipseColoredCircle {
        position: absolute;
        width: 3.750vw;
        height: 3.750vw;
        border-radius: 100%;
    }

    .GameEllipseColoredCircleCenter{
        position: absolute;
        width: 4.479vw;
        height: 4.479vw;
        bottom: 0;
        right: 0;
        left: 0;
        top: 0;
    }

    .GameEllipseColoredSmallCircle {
        position: absolute;
        width: 2.969vw;
        height: 2.969vw;
        left: 0.625vw;
        top: 0.625vw;

        border-radius: 100%;
        box-shadow: 0 0.208vw 0.208vw rgba(0, 0, 0, 0.5);
        transform: rotate(0.47deg);
    }

    .GameEllipseColoredSelectedCircle {
        position: absolute;
        width: 3.750vw;
        height: 3.750vw;
    }

    .gameCodeBlockLabel {
        position: absolute;

        width: 2.969vw;
        height: 1.250vw;

        left: 9.844vw;
        top: 14.063vw;

        font-style: normal;
        font-weight: 400;
        font-size: 1.042vw;
        line-height: 1.250vw;

        color: #FFFFFF;
        margin: 0;

    }

    .gameCodeBlock {
        position: absolute;
        background-image: url("../images/rectangleBlue.png");
        background-repeat: no-repeat;
        background-size: contain;

        width: 19.141vw;
        height: 3.776vw;

        left: 7.057vw;
        top: 15.833vw;
    }

    .gameLeftBlock {
        position: absolute;
        background-image: url("../images/leftBlock.png");
        background-repeat: no-repeat;
        background-size: contain;

        width: 26.042vw;
        height: 15.625vw;

        top: 20.365vw;
        left: 3.125vw;
    }

    .StarsBlock {
        position: absolute;
        width: 3.646vw;
        height: 15.677vw;

        left: 0.365vw;
        top: 20.365vw;
    }

    .gameRightBlock {
        position: absolute;
        background-image: url("../images/rightBlock.png");
        background-repeat: no-repeat;
        background-size: contain;

        width: 26.042vw;
        height: 15.625vw;

        top: 20.365vw;
        left: 70.833vw;
    }

}

.gameSignOutButtonOnMain {
    box-sizing: border-box;

    position: absolute;
    width: 3.906vw;
    height: 10.09vh;
    left: 90.990vw;
    top: 6.2vh;

    border: 0.462vh solid #60ECFF;
    border-radius: 0.925vh;
}

.gameSignOutButtonOnMainArrow {
    background-image : url("../images/leftArrow.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    width: 1.042vw;
    height: 3.70vh;
    left: 1.432vw;
    top: 2.87vh;
}

.gameSignOutButtonOnMainText {
    position: absolute;
    left: 89.531vw;
    top: 17.59vh;

    font-style: normal;
    font-weight: 600;
    font-size: 1.875vw;
    line-height: 4.07vh;

    color: #FFFFFF;
    margin: 0;
}

.gameSignOutText {
    position: absolute;
    left: 35.104vw;
    top: 20.92vh;

    font-style: normal;
    font-weight: 700;
    font-size: 3.333vw;
    line-height: 7.12vh;

    color: #FFFFFF;

    margin: 0;
}

.gameSignOutButton {
    box-sizing: border-box;

    position: absolute;
    width: 30.573vw;
    height: 13.05vh;
    left: 34.167vw;
    top: 42.87vh;

    background: rgba(96, 236, 255, 0.2);
    border: 0.46vh solid #60ECFF;
    box-shadow: 0 0.573vw 0.781vw rgba(0, 0, 0, 0.25);
    border-radius: 1.85vh;

    font-style: normal;
    font-weight: 700;
    font-size: 2.500vw;
    line-height: 5.37vh;

    color: #FFFFFF;
}

.StarNotSelected {
    background-image : url("../images/starNotSelected.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.StarSelected {
    background-image : url("../images/starSelected.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.Star1, .Star2, .Star3, .Star4, .Star5 {
    position: absolute;
    width: 2.344vw;
    height: 2.344vw;

    left: 1.302vw;
    top: 0;
}

.Star2 {
    left: 0.260vw;
    top: 3.333vw;
}

.Star3 {
    left: 0;
    top: 6.667vw;
}

.Star4 {
    left: 0.260vw;
    top: 10vw;
}

.Star5 {
    left: 1.302vw;
    top: 13.333vw;
}

.BlockHidden {
    opacity: 0;
    visibility: hidden;
}

.loginLabelAuth {
    position: absolute;
    top: 1.042vw;
    left: 6.875vw;
    margin: 0;

    font-style: normal;
    font-weight: 400;
    font-size: 1.667vw;
    line-height: 2.031vw;

    color: #FFFFFF;
}

.loginInputAuth {
    position: absolute;
    background-image: url("../images/authLoginTopInput.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    border: 0;

    width: 27.813vw;
    height: 7.135vw;

    top: 3.750vw;
    left: 4.063vw;

    text-align: center;

    font-style: normal;
    font-weight: 400;
    font-size: 3.333vw;
    line-height: 4.010vw;

    color: #FFFFFF;
}

.loginInputAuth:focus{
    outline: none;
}

.passwordLabelAuth {
    position: absolute;
    top: 11.563vw;
    left: 5.573vw;
    margin: 0;

    font-style: normal;
    font-weight: 400;
    font-size: 1.667vw;
    line-height: 2.031vw;

    color: #FFFFFF;
}

.passwordInputAuth {
    position: absolute;
    background-image: url("../images/authPasswordBottomInput.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    border: 0;

    width: 27.813vw;
    height: 7.135vw;

    top: 14.531vw;
    left: 3.741vw;

    text-align: center;

    font-style: normal;
    font-weight: 400;
    font-size: 3.333vw;
    line-height: 4.010vw;

    color: #FFFFFF;
    -webkit-text-security: square;
}

.passwordInputAuth:focus{
    outline: none;
}

.buttonAuth {
    position: absolute;
    background-image: url("../images/authButton.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;

    width: 27.734vw;
    height: 6.875vw;

    left: 4.063vw;
    top: 24.375vw;

    cursor: pointer;
}

.buttonAuth p{
    position: absolute;
    left: 10.573vw;
    top: 1.875vw;

    font-style: normal;
    font-weight: 600;
    font-size: 3.333vw;
    line-height: 4.010vw;

    color: #224442;

    margin: 0;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

.gameBlur {
    filter: blur(8px);
    -webkit-filter: blur(0.417vw);

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.gameStartCircle {
    position: absolute;
    width: 26.042vw;
    height: 26.042vw;

    left: 37.6vw;
    top: 15.1vw;

    background: #B491FF;
    box-shadow: 0 0.677vw 0.521vw rgba(0, 0, 0, 0.2);
    border-radius: 26.042vw;
    cursor: pointer;
}

.gameStartCircle p {
    position: absolute;

    width: 16.302vw;
    height: 6.042vw;

    left: 4.844vw;
    top: 10vw;

    font-style: normal;
    font-weight: 600;
    font-size: 5vw;
    line-height: 6.042vw;

    color: #312244;
    margin: 0;
    text-align: center;
}

.window {
    position: absolute;
    width: 100%;
    height: 100%;
}

.gamePersonalCode {
    position: absolute;
    width: 13.385vw;
    height: 3.958vw;
    left: 6.302vw;
    top: 17.760vw;

    background: radial-gradient(231.58% 231.58% at 50% 50%, #BB91FF 0%, #9670BB 100%);
    border-radius: 0.990vw;
    border: 0;

    text-align: center;

    font-style: normal;
    font-weight: 600;
    font-size: 1.042vw;
    line-height: 1.250vw;

    color: #8267A5;
}

.gamePersonalCode:focus {
    outline: none;
}