body {
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.blured{
  /* Any browser which supports CSS3 */
  filter: blur(10px);
  position: relative;
  width: 100%;
  height: 100%;
  background-color: transparent;
   -webkit-filter: blur(1px);
   
   
}

@media (max-height: 1080px) {
  .background{
    position: absolute;
    background-image : url("../src/components/images/background.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    height: 56.250vw;
    width: 100%;
  }
}

@media (max-height: 970px) {
  .background{
    position: absolute;
    background-image : url("../src/components/images/background.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    height: 100%;
    width: 100%;
  }
}




.main{
  margin: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.hidden{
  display: none;
}

.leftbar{

  position: relative;
  width: 29%;

  margin-left: 4em;
  margin-top:  12em;
  background-image: url("../src/components/images/leftbg.svg");
  background-repeat: no-repeat;
  background-size: contain;

}


.game{
  position: relative;
  width: 441px;
  height: 329px;
  background: #F8D3D3
}

.RadarTitle{
  position: absolute;

  width: 15.15%;
  height: 9.6296%;
  left: 42.44%;
  top: 1%;

  font-style: normal;
  font-weight: 500;
  font-size: 86px;


  color: #60ECFF;

  text-align: center;

  text-shadow: 0px 0px 51px #60ECFF, 0px 4px 0px #51A4AF;

  margin: 0 0;
}

.gameRadar {
  position: absolute;
  background-image: url("../src/components/images/radar.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 41.6%;
  height: 74%;

  top: 12.96%;
  left: 29.16%;

}

.rulesBtn{
  position: absolute;

  width: 2.604vw;
  height: 3.125vw;

  top: 89%;
  left: 7%;
}

.rightbar{

  position: relative;
  width: 355px;
  height: 326px;
 
  
  background: #921313;
}

.startbtn{
  position: relative;
width: 268px;
height: 96px;
top:40%;
left: 40%;
background: #50D300;
border-radius: 33px;
text-align: center;
vertical-align: middle;
line-height: 90px;
font-size: large;
}



